html{
    background-color: #2196f3;
    min-height: 1000px;
    font-family:"heveltica neue";
    background:  #2196f3;
    background: -webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
    background: linear-gradient(to left, #2196f3, #009688);
  
}

h1{
    color: #fff;
    padding: 10px;
}

.contenedor{
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow:5px 5px 15px -5px rgba(0,0,0,0.3);
}

#cabecero{
    background-color: #3f51b5;
    text-align: center;
}

input[type="text"]{
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-weight: 200;
    width: 40%;

}

input[type="text"] :focus {
outline: none;
box-shadow:  inset 0px -3px 0 o #3f51b5;
}

::placeholder{
    color: grey;
    opacity: 1;
}

button{
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3f51b5;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}
input[type="checkbox"]{
    margin:20px;
}
.elemento{
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.elemento:last-child{
    border: 0;
}

p{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  background-color: #cef;
  position: absolute;
  width: 100vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links .link {
  padding: 0.5rem 10px;
}

.social-links .link a {
  color: #000;
}

.social-links .link a:hover {
  color: #00f;
}

.copyright {
  padding: 0 0 .5rem;
  font-size: 20px;
}


@media screen and (max-width: 600px) {
  .header-container {
  }
  .navbar,
  .user-options {
    display: none;
  }
  .menu {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .newsletter {
    flex-direction: column;
  }
  .newsletter span:before {
    content: 'Join Our ';
  }
}

@media screen and (min-width: 1300px) {
  .header-container {
    margin: 0 6rem;
  }
}
